@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 25% 17%;

    --card: 0 0% 100%;
    --card-foreground: 222 25% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 25% 17%;

    --primary: 222 25% 17%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 222 25% 17%;

    --muted: 215 9% 65%;
    --muted-foreground: 222 25% 17%;

    --accent: 160 72% 41%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 72% 41%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --border: 215 9% 86%;
    --input: 215 9% 86%;
    --ring: 160 72% 41%;

    --radius: 0.5rem;

    --sidebar-background: 210 20% 96%;
    --sidebar-foreground: 222 25% 17%;
    --sidebar-primary: 160 72% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 9% 86%;
    --sidebar-accent-foreground: 222 25% 17%;
    --sidebar-border: 215 9% 86%;
    --sidebar-ring: 160 72% 41%;
  }

  .dark {
    --background: 222 25% 17%;
    --foreground: 0 0% 100%;

    --card: 222 25% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 222 25% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 222 25% 17%;

    --secondary: 215 9% 26%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 9% 50%;
    --muted-foreground: 0 0% 100%;

    --accent: 160 72% 41%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 72% 41%;
    --success-foreground: 0 0% 100%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;

    --border: 215 9% 26%;
    --input: 215 9% 26%;
    --ring: 160 72% 41%;

    --sidebar-background: 222 25% 17%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 222 25% 17%;
    --sidebar-accent: 215 9% 26%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 9% 26%;
    --sidebar-ring: 160 72% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
